* {
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
}
.bigbox {
  margin: 0 auto;
  position: relative;
  width: 830px;
  height: 310px;
  display: flex;
  gap: 10px;
  border: 1px solid #333;
}
.flex1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex1 img {
  display: block;
}

.flex2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex2 img {
  width: 100%;
  height: 100%;
  display: block;
}
.box {
  position: relative;
}
.box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 255, 0.7);

  transition: all 0.3s;
  opacity: 0;
}

.box:hover::before {
  width: 100%;
  opacity: 1;
}

.box6::before {
  width: 100%;
  height: 0;
}
.box6:hover::before {
  height: 100%;
}
.box p {
  display: block;
  height: 100%;
  top: 25%;
  left: 25%;
  position: absolute;
  color: white;
  text-align: center;
  background: url(../images/);
}
