* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1136px;
  height: 600px;
  margin: 0 auto;
}
.header {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header h3 {
  font-size: 20px;
  color: #2f3438;
}

.header p {
  color: #0aa5ff;
  font-weight: bold;
}
.body {
  display: flex;
  gap: 20px;
}

.card {
  width: 269px;
  height: 383px;
}
.card_img {
  width: 269px;
  height: 269px;
  overflow: hidden;
  margin-bottom: 7px;
}

.card_img img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.txt1 {
  font-size: 11px;
  display: block;
  color: #828c94;
}
.txt2 {
  width: 100%;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
.txt3 .s1 {
  font-weight: bold;
  margin-right: 2px;
  color: #0aa5ff;
}
.txt3 .s2 {
  font-weight: bold;
}

.txt4 .s3 {
  font-size: 12px;
  color: #0aa5ff;
}
.txt4 .s4 {
  font-size: 12px;
  font-weight: bold;
}
.txt4 .s5 {
  font-size: 12px;
  font-weight: bold;
  color: gray;
}
.s6_1 {
  background-color: pink;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 11px;
  color: white;
  font-weight: bold;
}
.s6_2 {
  background-color: rgba(233, 233, 233, 0.9);
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 11px;
  color: gray;
  margin-right: 1px;
  font-weight: bold;
}
