* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.banner {
  position: relative;
  height: 300px;
}

.banner img {
  width: 100%;
  height: 100%;
}

.banner h3 {
  color: white;
  position: absolute;
  font-size: 30px;
  right: 5%;
  top: 70%;
}
nav {
  height: 60px;
  line-height: 60px;
  background-color: brown;
}

nav ul {
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
}
nav ul li {
  width: 90%;
}
nav ul li a {
  color: white;
  font-weight: bold;
}

nav ul li:hover {
  background-color: white;
}
nav ul li:hover a {
  color: black;
}

main {
  display: flex;
  height: 600px;
}

section {
  width: 70%;
  background-color: grey;
  text-align: center;
}
section h2 {
  margin-top: 10px;
}

.textbody {
  margin-top: 30px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.text {
  width: 280px;
  height: 190px;
  padding: 10px 20px;
  text-align: justify;
  background-color: white;
  border: 1px solid #333;
}
.text h3 {
  background: url(../images/kong.png) no-repeat;
  padding-left: 25px;
}
.text p {
  margin-top: 5px;
  line-height: 30px;
  font-size: 15px;
}

aside {
  width: 30%;
  background-color: orangered;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

aside h2 {
  margin-top: 10px;
}

.imgbox {
  width: 90%;
}

.imgbox img {
  margin-bottom: 10px;
  width: 100%;
}
footer {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: #333;
}
