* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  border: 1px solid #333;
}

header {
  padding: 10px 0;
  height: 100px;
}

header h2 {
  margin: 0 auto;
  width: 202px;
}

.logo img {
  width: 100%;
}
nav {
  position: relative;
  width: 1200px;
  box-sizing: border-box;
  height: 50px;
  background-color: black;
}
.one {
  justify-content: center;
  display: flex;
  text-align: center;
}
.one li a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
}
.one > li > a {
  position: relative;
  color: white;
}
.one li ul {
  height: 0;
  overflow: hidden;
}

.one:hover li ul {
  position: relative;
  z-index: 100;
  height: 200px;
  background-color: transparent;
  transition: all 0.3s;
}
.one > li:hover > a {
  color: green;
}
.one li ul li a {
  display: block;
}

.one li ul li:hover a {
  color: green;
  text-decoration: underline;
}
.shadow {
  position: absolute;
  top: 50px;
  width: 100vw;
  left: 0;
  height: 0;
  overflow: hidden;
  background-color: aqua;
  transition: all 0.3s;
  z-index: 1;
}
.one:hover + .shadow {
  height: 200px;
}
