* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}

header {
  border-top: 5px solid #009223;
  height: 100px;
}

.logo {
  line-height: 100px;
  text-align: center;
}

nav {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
}

nav > ul {
  position: relative;
  z-index: 10;
  width: 1000px;
  margin: 0 auto;

  display: flex;
  text-align: center;
}

nav > ul > li > a {
  display: block;
  width: 165px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
}

nav > ul > li > a:hover {
  color: #009223;
}

nav ul li ul {
  margin-top: 15px;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

nav ul li ul li a {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: gray;
}

nav ul:hover li ul {
  height: 200px;
}

nav ul li ul li a:hover {
  color: #009223;
  text-decoration: underline;
}

.shadow {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  transition: all 0.3s;
  z-index: 1;
}

nav ul:hover ~ .shadow {
  height: 215px;
}
.main {
  position: relative;
  height: 550px;
}
.imgbox img {
  width: 100%;
  position: absolute;
}

.slidebtn {
  display: flex;
  position: absolute;
  right: 20%;
  bottom: 27%;
  gap: 10px;
  transform: translateX(-50%);
}

.slidebtn span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  z-index: 9999;
  transition: all 0.2s;
}
