* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 600px;
  background-image: url(../imgs/intro_bg.png);
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  max-width: 1200px;
  height: 600px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.left img {
  margin-top: -170px;
  max-width: 100%;
  height: auto;
  display: block;
}
.right {
  width: 80%;
}
.right_top {
  margin-top: 20px;
}

.right_top img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.right_top h3 {
  color: #003b5a;
  text-align: center;
}

.right_top p {
  margin-top: 5px;
  text-align: center;
  font-weight: 400;
  color: #3e3738;
}

.right_bottom {
  padding: 30px 15px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card p {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}
.card1:hover img {
  content: url(../imgs/intro_slide_ico1_on.png);
}

.card2:hover img {
  content: url(../imgs/intro_slide_ico2_on.png);
}

.card3:hover img {
  content: url(../imgs/intro_slide_ico3_on.png);
}

.card4:hover img {
  content: url(../imgs/intro_slide_ico4_on.png);
}
