* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
header {
  width: 600px;
  height: 150px;
  background-color: hotpink;
  margin: 0 auto;
}
nav {
  position: relative;
  width: 600px;
  height: 60px;
  background-color: brown;
  margin: 0 auto;
  text-align: center;
}
nav > ul {
  width: 100%;
  display: flex;
}
nav > ul > li {
  width: 150px;
  height: 60px;
  line-height: 60px;
}
nav > ul > li > a {
  color: white;
  position: relative;
}
nav ul li ul {
  z-index: 100;
  width: 100%;
  height: 0;
  overflow: hidden;
}
nav ul li ul li {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
nav > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s;
}
nav > ul > li:hover > a::after {
  width: 60px;
}

nav > ul > li:hover ul {
  height: 200px;
  background-color: yellow;
}
nav ul li ul li:hover a {
  text-decoration: underline;
}

main {
  width: 600px;
  height: 400px;
  background-color: tan;
  margin: 0 auto;
}
main img {
  width: 100%;
}

footer {
  text-align: center;
  line-height: 50px;
  width: 600px;
  height: 50px;
  background-color: #333;
  color: white;
  margin: 0 auto;
}
