* {
  margin: 0;
  padding: 0;
}
h1 {
  width: 500px;
  height: 70px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  background-color: aqua;
}

p {
  font-size: 30px;
  padding-bottom: 30px;
}

.tra {
  background-color: #ae5329;
  transform: translate(-500px, 0);
  transition: all 0.5s;
}

.btn1:hover + .tra {
  transform: translate(0, 0);
}

.rot {
  margin: 200px 0;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.btn2:hover + .rot {
  transform: rotate(360deg);
}

.rot1 {
  margin: 200px 0;
  transform: rotateY(0deg);
  transition: all 0.5s;
}
.btn3:hover + .rot1 {
  transform: rotateY(360deg);
}

.rot2 {
  margin: 200px 0;
  transform: rotateX(0deg);
  transition: all 0.5s;
}
.btn4:hover + .rot2 {
  transform: rotateX(360deg);
}

.rot3 {
  margin: 200px 0;
  transform: skewx(0deg);
  transition: all 0.5s;
}
.btn5:hover + .rot3 {
  transform: skewx(-45deg);
}
