* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 크기 계산을 편하게 하기 위해 추가 */
}

a {
  color: white;
  text-decoration: none;
}

.container {
  width: 1280px;

  margin: 0 auto;
  padding: 50px 0;
}

.container h1 {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

.container h3 {
  font-size: 16px;
  font-weight: 300;
  color: #666;
  margin-bottom: 40px;
  text-align: center;
}

.main {
  position: relative;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 710px;
}

.box {
  position: relative;
  overflow: hidden;
}
.box img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.flex1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.box1 img {
  height: 717px;
}
.opacitytop {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}
.opacitytop p {
  color: white;
  font-size: 30px;
}
.opacitytop .btn a {
  font-size: 16px;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 25px;
}
.opacitytop .btn a:hover {
  background-color: white;
}
.opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.opacity p {
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.box2,
.box3 {
  height: 239px;
}
.box2 img,
.box3 img {
  height: 239px;
}
.box4 {
  width: 307px;
  height: 488px;
}

.box4 img {
  width: 100%;
  height: 100%;
}
.btn1 {
  margin-top: 15px;
  border: 1px solid white;
  border-radius: 25px;
  transition: 0.3s;
  padding: 10px 25px;
}

.btn:hover a {
  color: #002d96;
}

.bottom {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 100%;
  text-align: justify;
  color: white;
  font-size: 14px;
  line-height: 25px;
}
.box5 {
  position: absolute;
  width: 625px;
  height: 210px;
  right: 80px;
  bottom: 0px;
}

.box5 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.bottom span {
  font-size: 20px;
  font-weight: bold;
}
