* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
.bigbox {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  border: 5px solid tan;
  padding: 20px 0 15px 0;
  display: flex;
}
.bigbox .box {
  margin-left: 40px;
  border: 1px solid tan;
  position: relative;
}

.box img {
  display: block;
  width: 100%;
}
.box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: all 0.5s;
}
.box:hover::before {
  background-color: black;
  opacity: 0.5;
}
.box .p1 {
  color: white;
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.5s;
}
.box .p2 {
  color: white;
  position: absolute;
  top: 80px;
  left: 50px;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 20px;
  transform: translate(0, 50px);
  opacity: 0;
  transition: all 0.5s;
}

.box:hover .p1 {
  transform: translate(0, 0);
  opacity: 1;
}

.box:hover .p2 {
  transform: translate(0, 0);
  opacity: 1;
}
