* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
.bigbox {
  width: 1000px;
  margin: 10px auto;
  border: 5px solid tan;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
.bigbox .box {
  display: block;
  width: 200px;
  height: 150px;
  border: 1px solid tan;
}
.box {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.box img {
  width: 100%;
  display: block;
  transition: all 0.3s;
}

.box::before {
  position: absolute;
  content: "ddddddd";
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  transition: all 0.5s;
  opacity: 0;
  z-index: 100;
}

.box:hover::before {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.box:hover img {
  transform: scale(1.2);
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0; /* 평소엔 안보임 */
  transition: opacity 0.3s ease;
  z-index: 1; /* 이미지보다 위 */
}

.box:hover::after {
  opacity: 0.5;
}
